.container {
  width: 1%;
}

.connections {
  width: fit-content;
}

ul li {
  cursor: pointer;
}

.container p {
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.container div {
  text-align: center;
}

.buttons {
  margin-top: 5px;
  align-items: center;
  text-align: center;
}

