.buttons {
  width: 100%;
}

.buttons button {
  margin-top: 5px;
}

.search_container {
  width: 100%;
}

ul li {
  cursor: pointer;
}

.search_container span {
  align-items: center;
  text-align: center;
  cursor: pointer;
  display: block;
  margin-top: 5px;
  margin-left: 200px;
}

.search_container div {
  text-align: center;
}

.results {
  width: 10%;
  text-align: center;
}

.column {
  float: left;
  width: 50%;
}

.column p {
  align-items: center;
  text-align: center;
}

.column div {
  text-align: center;
}

.row div {
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}